Flask
Flask-Session
Flask-SQLAlchemy
Flask-Migrate
Python-decouple==3.3
Marshmallow
PyJWT
Bcrypt
Pymongo
Flask_cors
Python-dotenv
google-cloud-storage
gunicorn==19.7.1
flasgger
flask-swagger-ui
supabase